.landing-about-left-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50vw;
}

.image-container img {
  width: 80%;
  margin: 0.6vw;
  border: 0.4vw solid #f3f4ed;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.image-container .column-aligned-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.image-container .column-aligned-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.landing-about-right-container {
  display: flex;
  flex-direction: column;
}

.landing-about-right-container .inner-heading {
  flex: 1;
  font-family: Roboto;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-dark);
}

.landing-about-right-container .inner-text {
  flex: 1;
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--info-text-color);
  line-height: 2rem;
  text-align: justify;
}

@media screen and (max-width: 1160px) {

  .landing-about-right-container .inner-heading {
    font-size: 3vw;
  }

  .landing-about-right-container .inner-text {
    font-size: 1.5vw;
    line-height: 2.4vw;
    word-spacing: 0.3vw;
  }
}

@media screen and (min-width: 768px) {
  .landing-about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .landing-about-right-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .landing-about-right-container .right-container {
    width: 30vw;
  }

}

@media (max-width: 767px) {
  .landing-about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .landing-about-left-container {
    flex: 1.4;
    align-items: flex-end;
    justify-content: center;
  }

  .landing-about-right-container {
    flex: 1;
    width: 60vw;
    text-align: center;
  }

  .landing-about-right-container .inner-heading {
    font-family: Roboto;
    font-size: 4vw;
    font-weight: bold;
    color: var(--primary-dark); 
  } 
  
  .landing-about-right-container .inner-text {
    font-family: Roboto;
    font-size: 2vw;
    font-weight: bold;
    color: var(--info-text-color);
    line-height: 4vw;
    text-align: justify;
  }

  .image-container {
    width: 50vw;
  }

}

@media (max-width: 425px) {
  .landing-about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .landing-about-left-container {
    flex: 1.4;
    align-items: flex-end;
    justify-content: center;
  }

  .landing-about-right-container {
    flex: 1;
    width: 70vw;
    text-align: center;
  }

  .landing-about-right-container .inner-heading {
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-dark); 
  } 
  
  .landing-about-right-container .inner-text {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  .landing-about-left-container .image-container {
    width: 90vw;
  }

}
