.logoBox {
  position: fixed;
  width: 13rem;
  height: 13rem;
  left: 1vw;
  z-index: 999;
}

@media (max-width: 674px) {
  .logoBox {
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 475px) {
  .logoBox {
    top: 0rem;
    left: 0rem;
    width: 8rem;
    height: 8rem;
  }
}
