.lpc{
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
    gap: 10%;
    width:auto;
    height:auto;
}

.lpcdes{
    flex-basis: 53%;
}

.lpc{
    flex-shrink: unset;
    display: flex;

}
.lpc-image-holder img {
    width:25vw;
    height:20vw;
}
@media (max-width:800px) {
    .lpcdes{
        flex-basis:100%;
    }
    .lpc-image-holder img {
        width:45vw;
        height:40vw;
    }
}
@media (max-width:500px) {
    .lpcdes{
        flex-basis:100%;
    }
    .lpc-image-holder img {
        width:55vw;
        height:50vw;
    }
}