/* .lpc{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    gap: 10%;
}

.lpcdes{
    flex-basis: 53%;
}

.lpcimg{
    flex-shrink: unset;
    display: flex;

}
.leadimage{
    box-sizing: border-box;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 385.6px;
    border: var(--primary-dark);
    margin-top: 0.83em;
}
@media (max-width:800px) {
    .lpcdes{
        flex-basis:100%;
    }
    .leadimage {
        width: 60%;
    }
} */

.lpc-2{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    gap: 10%;
    align-items: center;
}

.lpcdes-2{
    flex-basis: 53%;
}

/* .lpcimg{
    flex-shrink: unset;
    display: flex;

} */
.leadimage-2{

    box-sizing: border-box;
    width: 33vw;
    height: 27vw;
    border: 8px solid var(--primary-dark);
    margin-top: 0;
}