.lpc{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.lpcdes{
    flex-basis: 30%;
}

.lpcimg{
    flex-shrink: unset;
    display: flex;
    flex-wrap: wrap;
}
.leadimage{

    box-sizing: border-box;
    width: auto;
    height: auto;
    max-width: 482px;
    max-height: 385.6px;
    left: 740px;
    top: 253px;
    border: var(--primary-dark);
    margin-top: 0.83em;
}