@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.divhead {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 38px;
}
.divider {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 100%;
  border: 1px solid rgba(46, 36, 75, 0.5);
}
.heading h2 {
  font-size: 38px;
  color: #262540;
  text-align: center;
}
