.leaderDesc {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 2.4vw;
    width:40%;
}
.leader-name {
    font-size: 2.4vw;
    color: var(--primary-text-color);
    margin-bottom: .4vw;
    font-weight: 500;
}
.leader-position {
    font-size:1.3vw;
    color:var(--secondary-text-color);
    margin-top: 0;
    font-weight: 500;
}
.leader-contents  {
    font-style: italic;
    font-size: .9vw;
    color:var(--info-text-color);
    text-align: left;
    line-height: 1.5vw;
}
/* @media (max-width: 900px) {
    .leader-desc {
      width: 50%;
    }
  } */