.Page3Component{
    margin-top: -20rem;
    margin-bottom: -20rem;
}

/* .sectionHeading{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: #2E244B;
    margin-top: -20rem;
    margin-bottom: 8rem;
} */

.activityCardComponent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 23px;
}

.activityCard{
    font-family: 'Roboto';
    width: 265px;
    /* height: 72px;  */
    /* background-image: linear-gradient(134deg, rgba(136, 95, 136, 0.85) 1.18%, rgba(136, 95, 136, 0.85) 52.43%, rgba(46, 36, 75, 0.85) 98.61%), url("../../../assets/activity/women-at-khayaal.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 20%; */
    border-radius: 19px;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 18px;
    padding-bottom: 18px;
    /* padding-left: 23px;
    padding-right: 23px; */
}

.blurimg1{
    background-image: linear-gradient(134deg, rgba(136, 95, 136, 0.85) 1.18%, rgba(136, 95, 136, 0.85) 52.43%, rgba(46, 36, 75, 0.85) 98.61%), url("../../../../assets/activity/Blur-image2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.blurimg2{
    background-image: linear-gradient(134deg, rgba(136, 95, 136, 0.85) 1.18%, rgba(136, 95, 136, 0.85) 52.43%, rgba(46, 36, 75, 0.85) 98.61%), url("../../../../assets/activity/Blur-image1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.blurimg3{
    background-image: linear-gradient(134deg, rgba(136, 95, 136, 0.85) 1.18%, rgba(136, 95, 136, 0.85) 52.43%, rgba(46, 36, 75, 0.85) 98.61%), url("../../../../assets/activity/Blur-image3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 430px){

    .Page3Component{
        margin-bottom: -40rem;
    }

    /* .sectionHeading{
        font-size: 15px;
    } */

    .activityCard{
        visibility: hidden;
    }
}