@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Initiative-description-container {
    background-color: var(--primary-light);
    max-width: 450px;
    padding-right: 45px;
    padding-left: 10%;
}


.description-header > h1{
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    padding-top: 57px;
    color: var(--primary-dark);
}

.description-header {
    text-align: right;
}

.description-content > p{
    font-size: 15px;
    justify-content: center;
    line-height: 38px;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: justify;
    color: #686868;

}