.lpc{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    gap: 10%;
    align-items: center;
    margin-bottom: 4vw;
}

.lpcdes{
    flex-basis: 53%;
}

/* .lpcimg{
    flex-shrink: unset;
    display: flex;

} */
.leadimage{

    box-sizing: border-box;
    width: 33vw;
    height: 27vw;
    /* max-width: 33.16vw;
    max-height: 100%; */
    border: 8px solid var(--primary-dark);
    
}