.nav {
  background: linear-gradient(
    180deg,
    rgba(248, 248, 245, 1) 0%,
    rgba(248, 248, 245, 1) 50%,
    rgba(248, 248, 245, 0.6278712168461135) 75%,
    rgba(248, 248, 245, 0) 100%
  );
  display: flex;
  height: 18vh;
  width: 100vw;
  padding: 0;
  position: fixed;
  align-items: center;
  z-index: 1;
}

.nav ul {
  margin-left: 15vw;
  padding: 0;
  flex-direction: row;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: baseline;
}

.nav li a {
  font-family: "Roboto";
  text-align: center;
  font-size: 22px;
  letter-spacing: 0;
  color: var(--primary-text-color);
  padding: 2rem 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav li a:hover {
  color: var(--secondary-text-color);
  cursor: pointer;
}

.nav .action-items {
  flex:1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav .btn-filled {
  font-size: 18px;
  margin-right: 5vw;
  margin-left: auto;
  transition: all 0.3s ease 0s;
}

.hamburger {
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 5px;
  margin-right: 5vw;
  position: relative;
  background-color: var(--primary-dark);
  border-radius: 8px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(20px);
  background-color: var(--secondary-text-color);
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
  background-color: var(--secondary-text-color);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-2px, 6px) rotate(-45deg);
  background-color: var(--secondary-text-color);
}

@media (max-width: 1301px) {
  .nav ul {
    display: none;
  }
}

@media (min-width: 1300px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 475px) {
  .nav .btn-filled {
    font-size: 13px;
  }
  .nav {
    width:100%;
    height: 15vh;
  }
}
@media (max-width: 670px) {
  .nav .btn-filled {
    font-size: 13px;
  }
  .nav {
    width:100%;
    height: 15vh;
  }
}
