.simple-button {
  padding: 0;
  border: 0;
  margin-left: 4rem;
  background-color: var(--background-color);
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}

.action-items .btn-filled {
  font-size: 1rem;
}

#short-slogan {
  flex: 1.1;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--primary-dark);
}

.about-img {
  flex: 1;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 674px) {
  .landing-intro-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .landing-intro-left-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .landing-intro-left-container .slogan-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 25vh;
  }

  .landing-intro-left-container .action-items {
    flex: 1;
  }

  .landing-intro-right-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .landing-intro-right-container .right-img {
    height: 80vh;
  }

  .landing-intro-right-container .slogan-desc {
    display: none;
  }
}

@media (max-width: 1024px) {
  .landing-intro-left-container .slogan-desc {
    height: 20vh;
  }

  #short-slogan {
    font-size: 3.5vw;
  }

  .landing-intro-left-container .about-img {
    font-size: 2vw;
  }

  .landing-intro-left-container .btn-filled {
    font-size: 1.5vw;
  }

  .landing-intro-left-container .simple-button {
    font-size: 1.5vw;
  }

  .landing-intro-right-container {
    flex: 1.3;
  }
  .landing-intro-right-container .right-img {
    width: 100%;
  }
}

@media (max-width: 673px) {
  .landing-intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .landing-intro-left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
  }

  #short-slogan {
    flex: 1.1;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 6.5vw;
    color: var(--primary-dark);
  }

  .landing-intro-left-container .slogan-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 4vh;
  }

  .landing-intro-left-container .slogan-desc .action-items,
  .landing-intro-left-container .slogan-desc .about-img {
    display: none;
  }

  .landing-intro-right-container {
    flex: 4;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .landing-intro-right-container .right-img {
    width: 90vw;
  }

  .landing-intro-right-container .slogan-desc {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing-intro-right-container .action-items {
    flex: 1;
  }

  .landing-intro-right-container .about-img {
    flex: 1;
  }
}
