.donate-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
    max-width: 100vw;
    gap: 2em;
}

.donate-text-container {
    display: flex;
    flex-basis: 55%;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.donate-text {
    font-family: 'Roboto';
    font-style: normal;
    display: flex;
    font-weight: 700;
    align-items: center;
    color: var(--primary-text-color);
    padding-left: 10%;
    padding-right: 10%;
}

.donate-heading {
    font-size: 2vmax;
}

.donate-description {
    font-size: 1vmax;
}

.donate-box-container {
    display: flex;
    flex-basis: 30%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    border-radius: 12px;
    padding-right: 5%;
}

.donate-box {
    width: 30vmax;
    height: 40vmax;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 0px -4px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 280px) and (max-width: 641px) {
    /* Mobile devices */
    .donate-container {
        flex-direction: column;
    }
    .donate-text-container {
        flex-basis: 30%;
        justify-content: center;
    }
    .donate-box-container {
        flex-basis: 55%;
        flex-grow: 1;
    }
    .donate-heading {
        justify-content: center;
    }
    .donate-box {
        width: 60vw;
        height: 40vh;
    }
}

.donate-box-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: var(--primary-text-color);
    font-size: 1.2vmax;
}

.donate-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.donate-pledge-heading {
    display: flex;
    flex: 1;
}

.donate-pledge-amounts-container {
    display: flex;
    flex: 3;
    flex-flow: row wrap;
    justify-content: flex-start;
    row-gap: 10%;
    column-gap: 5%;
}

.donate-types-container {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: flex-start;
    row-gap: 10%;
    column-gap: 5%;
}

.donate-general-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.1), inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 45%;
    cursor: pointer;
}

.donate-pledge-amount-active {
    background-color: var(--secondary-text-color);
    color: var(--background-color);
}

input {
    font-size: 1.2vmax;
}

.donate-custom-amount {
    display: flex;
    flex: 1;
    border: none;
    border-bottom: solid;
    border-color: var(--primary-border-color);
    cursor: text;
    font-weight: 400;
}

.donate-custom-message {
    display: flex;
    flex: 1;
    border: none;
    border-bottom: solid;
    border-color: var(--primary-border-color);
    cursor: text;
    font-weight: 400;
}

input:focus {
    outline: none;
    opacity: 60%;
}

.donate-error {
    border-color: var(--primary-error-color);
    opacity: 70%;
}

.donate-error-label {
    color: var(--primary-error-color);
    font-weight: 400;
}

.donate-btn {
    display: flex;
    flex: 1;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    align-self: center;
    align-items: center;
    background: var(--primary-dim-color);
}

.donate-btn:hover {
    transform: translateY(-2px);
}

.donate-btn-active {
    background-color: var(--primary-dark);
    color: var(--background-color);
}

.join-btn {
    color: var(--primary-text-color);
    border: 0.2vw solid var(--primary-text-color);
    box-sizing: border-box;
    border-radius: 2.3vw;
    background-color: var(--background-color);
    font-family: Roboto;
    font-size: 1vmax;
    font-weight: bold;
    padding: 1.3vw 3.3vw;
    border-radius: 888rem;
    margin: 0.5rem 0;
    cursor: pointer;
  }