.landing-last-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20vw 0 10vw 0;
}

.landing-last-container .left-container {
  display: flex;
  justify-content: center;
}

.landing-last-container .left-container img {
  width: 100%;
  height: 100%;
  border: 0.5vw solid var(--background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.landing-last-container .right-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-last-container .right-container .action-items {
  height: 25%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.landing-last-container .right-container .action-items button {
  color: var(--primary-text-color);
  border: 0.2vw solid var(--primary-text-color);
  box-sizing: border-box;
  border-radius: 2.3vw;
  background-color: var(--background-color);
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bold;
  padding: 1.3vw 3.3vw;
  border-radius: 888rem;
  margin: 0.5rem 0;
  cursor: pointer;
}

#last-donate {
  color: var(--background-color);
  background-color: var(--primary-dark);
  font-weight: bold;
}


@media (max-width: 768px) {
  .landing-last-container .left-container {
    /* width: 20rem;
    height: 16rem; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 674px) {
  .landing-last-container {
    flex-flow: column;
    justify-content: flex-start;
    padding-top: 0;
  }

  .landing-last-container .left-container {
    width: 70%;
    height: 70%;
    padding-bottom: 20vw;
  }

  .landing-last-container .right-container {
    height: 25%;
    padding-bottom: 20vw;
  }

  .landing-last-container .right-container .action-items button {
    font-size: 1rem;
    padding: 2vw 6vw;
    margin: 0.5rem 0;
  }
}

