.page2 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.container2{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right2{
    display: flex;
    width: 60%;
    height: 400px;
    margin-left: -70px;
    z-index: 10;
}
.right2 img{
    background: no-repeat center / cover;
}
.left2{
    width: 70%;
    min-height: 450px;
    background-color: #F6F5FF;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.left2 h1{
    font-size: 40px;
    font-weight: bold;
    top: 20px;
    flex-wrap: wrap;
}
.left2 p{
    padding-right: 90px;
    font-weight: 500;
    line-height: 25px;
}

@media only screen and (max-width: 768px){
    .container2{
        flex-direction: column;
    }
    .left2{
        width: 60%;
        margin: 0;
        overflow-x: hidden;
    }
    .right2{
        width: 60%;
        margin: 0;
        overflow-x: hidden;
    }
}