.componentContainer{
    display: flex;
    /* height: 100vh; */
    width: 100%;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 70px;
    justify-content: center;
    align-items: center;
  }
  .rightComp {
    display: flex;
    /* margin-top: 100px;
    margin-right: 200px;
    margin-left: 100px; */
    flex: 1;
  }

  .rightComp img{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50vw;
    background: no-repeat center / cover;
    border: 8px solid #E5E5E5;
    margin-top: 40px;
  }
  .leftComp{
    /* margin-left: 250px;
    margin-right: 40px; */
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .leftHeadingMobile{
    visibility: hidden;
  }

  .leftHeadingComp{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    /* or 127% */
    text-align: center;
    color: #262540;
  }
  .QuoteComp{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #686868;
  }
  .leftContentComp{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 173% */
    color: #686868;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .activities-divider{
    width: 85%;
  border-bottom: 1px solid rgba(46, 36, 75, 0.5);
  padding-top: 80px;
  }

  /* @media (max-width: 430px){

    .rightComp img{
      width: 90%;
      height: 70%;
    }

    .leftHeadingComp{
      font-size: 23px;
    }
} */


  @media only screen and (max-width: 768px){
    .componentContainer{
          flex-direction: column;
          align-items: center;
          margin-top: 8rem;
      }
      .leftComp{

          align-items: center;
          width: 100%;
          margin: 0;
          justify-content: flex-start;
      }
      .rightComp{
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        justify-content: center;
      }
      .rightComp img{
          align-items: center;
          width: 100%;
          height: 100%;
          margin: 0;
      }

      .leftHeadingMobile{
        visibility: visible;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 23px;
        line-height: 20px;
        margin-top: 20px ;
        /* or 127% */
        display: flex;
        justify-content: center;
        color: #262540;
      }

      .leftHeadingComp{
        visibility: hidden;
      }

      .QuoteComp{
        font-size: 14px;
        margin-top: -5rem;
      }

      .leftContentComp{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 17px; 
  
        /* or 173% */
        text-align: justify;
        color: #686868;
        padding:0;
      }
  }
  
