.App {
  font-family: sans-serif;
  text-align: center;
}
.top {
  box-sizing: border-box;
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 10% 40%;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  width: 50%;
  height: 425px;
  border-radius: 8px;
  margin-right: 20px;
}
.left > img {
  max-width: 100%;
  max-height: 100%;
  border: 8px solid var(--tertiary-text-color);
  object-fit: contain;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.right {
  font-family: 'Roboto', sans-serif;
  width: 50%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  padding-right: 0;
  color: var(--background-color);
  
  /* background-color: #885f88; */
}
.right > .content > h1 {
  margin-top: 0;
  /* margin-bottom: 0; */
  font-size: 45px;
  line-height: 38px;
  font-weight: lighter;
  text-align: left;
  font-weight: 700;
  /* color: blue; */
}
.right > .content > span {
  margin: 20px 0;
  font-weight: 700;
  line-height: 25px;
  text-align: justify;
  font-size: 20px;
}

.right > .content > p {
  margin: 20px 0;
  font-weight: 400;
  line-height: 25px;
  text-align: justify;
  font-size: 15px;
}

@media (max-width: 868px) {
  .container {
    flex-direction: column;
    width: 100%;
    margin: 0 40px;
  }
  .left {
    margin-top: 120px;
    margin-bottom: 0px;
    margin-right: 0;
    width: auto;
    height: 250px;
  }
  .right {
    margin-top: 0;
    width: auto;
    min-height: 360px;
    align-items: top;
    padding: 0;
    justify-content: top;
  }
  section {
    background-position: 10% 40%;
    background-size: 980%;
  }

  .content{
    text-align: center;
  } 

  .right > .content > span {
    font-size: 13px;
    margin: 0;
  }
  .right > .content > p {
    font-size: 13px;
    margin: 0;
  }
  .right > .content > h1 {
    font-size: 25px;
    margin-top: 27px;
    margin-bottom: 0;
    text-align: center;
  }
}

