.our-teams-container {
    display: flex;
    flex-flow: column wrap;
    gap:1vw;
    
    margin: 9vw 4vw;
  }
  
  @media screen and (max-width:719px){

    .lpc-2{
      flex-wrap: wrap;
    }

    .lpc{
      flex-wrap: wrap-reverse;
    }
    
    .lpcdes,.lpcdes-2{

      flex-basis: unset;

      justify-content: center;

      align-self: center;

    }

    .leader-name{
      text-align: center;
      width: 100%;
    }

    .leader-position{
      text-align: center;
      width: 100%;
    }

    .leader-contents{
      align-self: center;
      text-align: justify;
      width: 80%;
      margin: unset;
    }


  }

  @media screen and (min-width:720px) and (max-width:940px){

    .leadimage,.leadimage-2{
      width: 279.67px;
      height:235.97px;
    }
  }
  
  :target {
    padding-top: 8vw;
  }

  :link :visited :active {
    padding-top:0;
    scroll-padding-top:0;
  }