.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* .app-container > .home-container {
  scroll-snap-align: start;
}

.footer-container {
  scroll-snap-align: start;
} */