.main-app {
  display: flex;
  flex-direction: column;
}

.main-app > .landing-intro-container {
  scroll-snap-align: start;
}

.main-app > .landing-about-container {
  scroll-snap-align: start;
}

.main-app > .footer-main-container {
  scroll-snap-align: start;
}