.footer-main-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 10vw;
}

.footer-contact-container {
  display: flex;
  flex-direction: column;
}

.footer-contact-container span:first-child {
  font-family: Roboto;
  font-weight: bold;
  color: var(--primary-text-color);
}

.footer-contact-container span:nth-child(2),
span:last-child {
  font-family: Roboto;
  font-weight: normal;
  color: var(--secondary-text-color);
}

.footer-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-logo-container img {
  width: 3rem;
}

.footer-newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 0;
}

.footer-newsletter-container input {
  border-radius: 10px;
  margin-right: 2rem;
  border: 1px solid var(--primary-text-color);
  padding: 0.2vw;
  color: var(--primary-text-color);
}

.footer-newsletter-container button {
  border-radius: 10px;
  padding: 0.2vw 1vw;
  background-color: var(--primary-dark);
  color: var(--primary-light)
}

.footer-newsletter-container button:hover {
  transform: scale(1);
}

.footer-action-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.footer-logo-container img {
  cursor: pointer;
}

.footer-logo-container img:hover {
  transform: scale(1.2);
}

.footer-newsletter-container p {
  padding: 0;
  margin: 0;
}

.footer-newsletter-container p:nth-child(2) {
  padding-bottom: 1rem;
}


.footer-links-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer-links-container a:hover {
  color: var(--secondary-text-color);
  transform: translateY(-2px);
  cursor: pointer;
}

.footer-links-container a {
  color: var(--primary-text-color);
  font-size: 1rem;
  margin: 0.5vmax;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    width: 95%;
  }

  .footer-contact-container {
    flex: 0.5;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
  }
  .footer-logo-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 3rem;
  }
  .footer-newsletter-container {
    flex: 0.5;
    flex-direction: column;
    color: var(--info-text-color);
    padding-bottom: 5rem;
  }

  .footer-contact-container span:first-child {
    flex: 1;
  }

  .footer-contact-container span:nth-child(2) {
    flex: 0.5;
  }

  .footer-contact-container span:last-child {
    flex: 1.5;
  }
}

@media (max-width: 767px) {
  .footer-container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .footer-contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    order: 2;
    height: 10vh;
    width: 100%;
  }

  .footer-contact-container p:first-child,
  .footer-contact-container p:nth-child(2),
  .footer-contact-container p:last-child {
    font-size: 0.9rem;
  }

  .footer-newsletter-container {
    display: none;
  }

  .footer-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    order: 1;
  }

  .footer-logo-container img {
    width: 2rem;
  }
}

@media (max-width: 375px) {
  .footer-contact-container {
    font-size: 0.9rem;
  }
}
